$brand-color: #007bdb;
$brand-contrast-color: #ffffff;

$background-color: #f7f7f7;
$card-background-color: #ffffff;
$text-color: #4d5c65;

$button-color: #e2e5ec;
$button-text-color: $text-color;
$button-hover-color: #cbced4;
