// Adicionada a fonte Quicksand e FontAwesome por terem seus cantos arredondados,
// o que passa a sensação de segurança e confiança ao usuário/paciente.
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "variables";

body,
input,
button,
textarea,
pre {
  font: 500 1em "Quicksand", sans-serif;
}

body {
  background-color: $background-color;
  color: $text-color;
}
