@import "variables";

.container {
  > .row {
    align-items: center;
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .avatar {
    width: auto;

    @media (min-width: 768px) {
      margin-right: 20px;
    }
  }

  .info {
    > * + * {
      margin-top: 6px;
    }

    .name {
      font-size: 1.4em;
      font-weight: 700;
      margin: 0;
      text-transform: capitalize;
    }

    .register-and-state,
    .languages {
      font-size: 0.8em;
    }

    .register-and-state,
    .evaluation {
      > * {
        margin: 0 6px 0 0;
      }
    }

    .register-and-state {
      .register {
        color: $brand-color;
        font-weight: 700;
        text-transform: uppercase;
      }

      .state {
        font-weight: 500;
      }
    }

    .evaluation {
      align-items: center;

      .stars {
        color: #fed500;
      }

      .reviews {
        font-size: 0.8em;
        font-weight: 500;
      }
    }

    .session {
      align-items: baseline;
      font-weight: 700;

      .price {
        font-size: 1.3em;
      }

      .bar {
        margin: 0 3px 0 6px;
      }

      .duration {
        font-size: 0.9em;
      }
    }
  }

  .about {
    margin-top: 20px;
  }
}
