@import "variables";

.container {
  background-color: $card-background-color;
  border-radius: 14px;
  box-shadow: 0 4px 12px #dddddd;
  margin: auto;
  overflow: hidden;
  text-align: center;
  max-width: 400px;
  width: 100%;

  @media (min-width: 992px) {
    min-width: 400px;
  }

  .progress-bar.hide {
    opacity: 0;
  }

  .header {
    background-color: $brand-color;
    color: $brand-contrast-color;
    padding: 10px;

    .title {
      font-size: 1.4em;
      font-weight: 700;
      margin: 0;
    }

    .subtitle {
      font-size: 1em;
      font-weight: 400;
      margin: 6px 0 0 0;
    }
  }

  .tab-nav {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;

    @media (max-width: 991px) {
      padding: 10px;
    }

    &,
    .days {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .btn-navigate {
      border-radius: 100%;
      border: none;
      box-shadow: none;
      padding: 0;
      width: 24px;
      transition: all 0.2s ease;

      &:not(:disabled) {
        background-color: #4a5d64;
        cursor: pointer;

        &:hover {
          background-color: #5e7780;
        }
      }

      &:disabled {
        background-color: #e1e6ec;
      }

      i,
      & {
        line-height: 24px;
        height: 24px;
        max-height: 24px;
        max-width: 24px;
        min-height: 24px;
        min-width: 24px;
      }

      i {
        color: white;
        font-size: 18px;
      }
    }

    .days {
      margin: 0 10px;
      padding: 0 10px;
      width: 100%;

      @media (max-width: 991px) {
        margin: 0;
      }

      .day {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        width: 100%;

        .week {
          font-size: 0.7em;
          margin-bottom: 4px;
        }

        .month {
          font-size: 0.9em;
        }
      }
    }
  }

  .schedules {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 10px 34px;
    overflow-y: auto;

    @media (max-width: 991px) {
      padding: 10px 44px;
    }

    .message {
      margin: auto;
      text-align: center;
    }

    .column {
      display: flex;
      flex-direction: column;
      padding: 0 4px;
      width: 100%;

      .btn-schedule {
        border-radius: 7px;
        border: none;
        font-weight: 600;
        margin: 4px 0;
        padding: 10px;
        transition: all 0.2s ease;
        width: 70px;

        @media (max-width: 991px) {
          font-size: 0.8em;
          font-weight: 700;
          padding: 10px 0;
          width: 100%;
        }

        &:not(:disabled) {
          background-color: $button-color;
          color: $button-text-color;
          cursor: pointer;

          &:hover {
            background-color: $button-hover-color;
          }

          &:focus {
            background-color: $brand-color;
            color: $brand-contrast-color;
          }
        }

        &:disabled {
          background-color: transparent;
        }
      }
    }
  }
}
